body
{
	margin: 0;
	background-color: #F8F9FA;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.judul
{
	padding:20px;
	background-color: #1EBEA5;
	color: #fff;
}
.wadah
{
	padding: 50px;	
}
.container
{
	background-color: #fff;
	width: 80%;
	padding: 50px;
}
.footer
{	
	padding: 20px;
	background-color: #273443;
	color: #fff;
}
.beranda
{
	margin-top: -50px;
	margin-left: -50px;
	padding-left: 50px;
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: #273443;	
	color: #fff;
	width: 20%;
}