html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
body{
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  height: 100%;
}
a, a:hover, a:focus{
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}
.wrapper{
  display: flex;
  position: fixed;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#sidebar{
  min-width: 300px;
  max-width: 300px;
  height: 100vh;
  background-color: #2C3E50;
  color: #fff;
  transition: all 0.3s;
}
#sidebar .sidebar-header{
  background-color: #16a085;
  padding: 40px;
}
#sidebar .components {
  background-color: #fff;
}
#sidebar a{
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar a:hover{
  color: #7386D5;
}
.sidebar-header img{
  width: 200px;
  height: 200px;
  border: 6px solid #ddd;
}
.wrapper2{
  margin-left: 300px;
  width: auto;
  display: block;
}
.wrapper3{
  padding: 90px;
  width: auto;
}
.wrapper4{
  padding: 30px;
  width: auto;
}
#about{
  padding-top: 46px;
  padding-bottom: 46px;
}
.judul{
  font-size: 9em;
}
.icon a{
  background-color: #636B6F;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 13px;
  color: #fff;
  font-size: 2em;
  margin-right: 20px;
}
.icon a:hover{
  background-color: #009688;
}

#pendidikan{
  padding-top: 46px;
  padding-bottom: 46px;
}
.bgimg1, .bgimg2, .bgimg3{
  position: relative;
  opacity: 0.7;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgimg1{
  background-image: url('/bg/1.jpg');
  min-height: 700px;
}
.bgimg2{
  background-image: url('/bg/2.jpg');
  min-height: 400px;
}
.bgimg3{
  background-image: url('/bg/3.jpg');
  min-height: 400px;
}
.caption{
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}
.caption span.border{
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}
